body {
    background-color: #222;
}

.main {
    background-color: rgb(230, 176, 164);
    transform: translateX(50%);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    align-content: center;
    margin: 0 auto;
}

.main p {
    font-family: fantasy;
    color: rgb(26, 19, 17);
    text-align: center;
    top: 50%;
}

